@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    background-color: #222;
    color: white;
}

body {
    animation: fade;
    animation-duration: 2s;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: x-large;
}

#circle {
    margin: 3%;
    z-index: 0;
    width: 800px;
    height: 600px;
    border-radius: 65% 35% 69% 31% / 48% 51% 49% 52%;
    background: linear-gradient(to bottom left, rgba(76, 30, 171, 255), rgba(226, 5, 156, 255))
}

#vier {
    position: absolute;
    z-index: 1;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    /*background-color: seagreen;*/
}

#navbar li {
    float: left;
}

#navbar li a:hover {
    background: linear-gradient(to top right, rgba(76, 30, 171, 255), rgba(226, 5, 156, 255));
    /*background-color: #73110a;*/
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}